<article class="style-guide">
  <article class="style-guide__section">
    <header>
      <h1>Buttons</h1>
    </header>

    <section class="style-guide__example">
      <%= cell(
        Ui::Buttons::Base,
        'Hello',
        path: '/'
      ) %>
    </section>
  </article>
</article>
