<div
  class="ui-tooltip"
  data-controller="tooltip"
  data-tooltip-hidden-class="hidden"
  data-tooltip-mode-value="<%= mode %>"
  data-tooltip-expanded-value="false"
  data-action="click->tooltip#toggle">

  <%= yield %>

  <div class="ui-tooltip__content" data-tooltip-target="content">
    <%= content %>
  </div>
</div>
