<div 
  data-controller="dropdown"
  data-dropdown-hidden-class="hidden"
  data-dropdown-expanded-value="false"
  data-dropdown-mode-value="<%= mode %>"
  data-action="click->dropdown#toggle"
  class="<%= style %>">
  <%= yield %>

  <div data-dropdown-target="expandable" class="ui-dropdown__expandable">
    <%= overlay %>
  </div>
</div>
